.tg  {
    border-collapse:collapse;border-spacing:0;margin:0px auto;
}
.tg td{
    border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg th{
    border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg .tg-e81b{
    background-color:#0500f0;border-color:#000000;color:#ffffff;text-align:right;vertical-align:middle
}
.tg .tg-jxwj{
    background-color:#0500f0;border-color:#000000;text-align:right;vertical-align:middle
}
.tg .tg-o5f3{
    background-color:#efefef;font-size:15px;font-weight:bold;text-align:left;vertical-align:top
}
.tg .tg-9x9m{
    background-color:#efefef;border-color:#000000;font-size:15px;font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-6m4l{
    background-color:#0500f0;border-color:#000000;color:#ffffff;font-size:18px;font-weight:bold;text-align:left;
    vertical-align:middle
}
.tg .tg-a4q8{
    background-color:#efefef;border-color:#000000;font-size:15px;font-weight:bold;text-align:left;
  text-decoration:underline;vertical-align:middle
}
.tg .tg-htuz{
    background-color:#f7c400;border-color:#000000;font-family:Verdana, Geneva, sans-serif !important;;font-size:18px;
    font-weight:bold;position:-webkit-sticky;position:sticky;text-align:left;top:-1px;vertical-align:middle;
    will-change:transform
}
.tg .tg-joz3{
    background-color:#f7c400;border-color:#000000;color:#000000;font-size:20px;font-weight:bold;text-align:center;
    vertical-align:middle
}
.tg .tg-kftd{
    background-color:#efefef;text-align:left;vertical-align:top;border-color:#000000;
}
.tg .tg-ln5j{
    background-color:#efefef;border-color:#000000;text-align:right;vertical-align:middle
}
.tg .tg-p170{
    background-color:#efefef;border-color:#000000;text-align:left;vertical-align:middle
}
.tg .tg-ly6r{
    border-color:#f9f9f900;text-align:left;vertical-align:top
}
.tg .tg-9dh5{
    background-color:#f7c400;border-color:#000000;font-family:Verdana, Geneva, sans-serif !important;;font-size:18px;
    font-weight:bold;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:middle;
    will-change:transform
}
.tg .tg-8y63{
    background-color:#EFEFEF;border-color:#000000;font-size:15px;font-style:italic;font-weight:bold;text-align:left;
    vertical-align:top
}
.tg .tg-8q01{
    background-color:#efefef;border-color:#000000;text-align:right;vertical-align:middle}
.tg .tg-tncv{
    background-color:#efefef;border-color:#000000;font-size:15px;font-style:italic;font-weight:bold;text-align:left;
    text-decoration:underline;vertical-align:middle
}
.tg .tg-wghx{
    background-color:#f7c400;border-color:#000000;font-size:20px;font-weight:bold;text-align:center;vertical-align:middle
}
.tg .tg-iykl{
    background-color:#efefef;border-color:#000000;font-size:15px;font-style:italic;font-weight:bold;text-align:left;
    vertical-align:middle
}
.tg .tg-qyoc{
    background-color:#0500f0;border-color:#000000;color:#ffffff;font-size:20px;font-weight:bold;text-align:left;
    vertical-align:middle
}
.tg .tg-u18r{
    background-color:#f7c400;border-color:#000000;text-align:left;vertical-align:middle
}
